---
import PoseCard from "../components/PoseCard/poseCard.astro";

import NayeonImage from "../assets/images/Nayeon.jpg";
import JeongyonImage from "../assets/images/Jeongyon.jpg";
import MomoImage from "../assets/images/Momo.jpg";
import SanaImage from "../assets/images/Sana.jpg";
import JihyoImage from "../assets/images/Jihyo.jpg";
import MinaImage from "../assets/images/Minari.jpg";
import DahyunImage from "../assets/images/Dahyun.jpg";
import ChaeyoungImage from "../assets/images/ChaeYoung.jpg";
import TzuyuImage from "../assets/images/Tzuyu.jpg";
---

<div class="grid grid-cols-3 w-full max-w-240 mx-auto my-7 px-7 gap-2">
  <PoseCard name="Nayeon" imageSrc={NayeonImage} />
  <PoseCard name="Jeongyeon" imageSrc={JeongyonImage} />
  <PoseCard name="Momo" imageSrc={MomoImage} />
  <PoseCard name="Sana" imageSrc={SanaImage} />
  <PoseCard name="Jihyo" imageSrc={JihyoImage} />
  <PoseCard name="Mina" imageSrc={MinaImage} />
  <PoseCard name="Dahyun" imageSrc={DahyunImage} />
  <PoseCard name="Chaeyoung" imageSrc={ChaeyoungImage} />
  <PoseCard name="Tzuyu" imageSrc={TzuyuImage} />
</div>